<div>
    <h2>Cargar producto</h2>
    <form id="productForm">
    <label>Producto</label>
    <input type="text" name="title" id="title">
    <label>Precio</label>
    <input type="text" name="price" id="price">
    <label>Imagen</label>
    <input type="text" name="thumbnail" id="thumbnail">
    <button type="submit">Cargar</button>
    </form>

</div>
<div id="productsContainer"></div>
{{> scripts}}
<script src="/socket.io/socket.io.js"></script>
<script src="home.js"></script>