html 
    head 
        tittle pagina inicial
    body
        h2(style={color: 'red', background: 'green'}) pagina de inicio
        ul
            li elemento 1
            li elemento 2
        h3 !{msg}